/****GLOBAL****/

.topnav {
  position:fixed;
  z-index:10;
  top:0px;
  width:100%;
  background-color:white;
  left:0px;
}

.topnav .menu {
  color: black;
  float:right;
  padding:20px;
  transition: .3s background-color;
  height:100%;
  right:20px;
  position:relative;
  top:5px;
}

.topnav .menu:hover {
  background-color: #538593;
}

.logo {
  width:4%;
  padding-bottom:2px;
  float:left;
}

.footer {
  text-align:center;
  margin-top:30px;
  font-size:10px;
}

.footer h3 {
  font-family: Georgia, serif;
  text-align:center;
  margin-top:50px;
}

/******HOME******/

.nav ul {
  list-style: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav li {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-bottom: 1px solid #888;
  display: inline-block;
  width: 300px;
  border-bottom: none;
  height: 4em;
  line-height: 4em;
  background-color:#AA7239;
  border-radius:25px;
  border: 2px solid #683A0C;
  margin:50px;
  display:inline-block;
  position:relative;
}

.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
  height:2em;
  width:300px;
  font-size:2em;
  border-radius:25px;
}
 
.nav a:hover {
  background-color: #ECB882;
}

.nav {
  position: absolute;
  bottom:25px;
  left:175px;
}

.header h1 {
  position:absolute;
  left:26%;
  top:40px;
  color:#A5CAD5;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:8em;
}

.header h2 {
  font-size:3em;
  position:absolute;
  left: 43%;
  bottom:20px;
  top:230px;
}

.header {
  width:1580px;
  min-height:741px;
  position: relative;
  top:50px;
  border-bottom:5px solid black;
  background-image:    url(/images/trashcurbers.png);
  background-size:     contain;                 
  background-repeat:   no-repeat;
  background-position: center center;
  display:flex;
  left:50%;
  margin-left: -790px;
}

.background {
  width:100%;
}

.video {
  text-align:center;
  background-color:#5978C0;
  border-top:5px solid black;
  border-bottom:5px solid black;
  width:1580px;
  margin-bottom:50px;
  margin-top:100px;
  position:relative;
  left:50%;
  margin-left: -790px;
  padding-top:20px;
  padding-bottom:20px;  
}

.video iframe {
  height:540px;
  width:780px;
}

/****ABOUT****/

div h1 {
  text-align:center;
  position:relative;
  font-size:3em;
}

div p {
  font-size:1.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.bridge {
  width:100%;
  margin-bottom:0px;
}

.whatis {
  background-color:#5489BC;
  border-top:2px solid black;
  border-bottom:2px solid black;
  padding:25px 100px 25px 100px;
}

.whatdoes {
  background-color:#FFC166;
  border-bottom:2px solid black;
  padding:25px 100px 25px 100px;
}

.whyget {
  background-color:#4CBD9E;
  border-bottom:2px solid black;
  padding:25px 100px 25px 100px;
}

.thestory {
  background-color:#D4C083;
  border-bottom:2px solid black;
  padding:25px 100px 25px 100px;
}

/****PLANS****/
.priceheader {
  background-color: #D4C083;
  text-align:center;
  width:100%;
  margin-top:100px;
  padding-bottom:2px;
}

.priceheader h2 {
  font-size:50px;
}

.priceheader h3 {
  font-size:30px;
}

.planholder {
  display:block;
}

.plan {
  position:relative;
  width:800px;
  height:125px;
  text-align:left;
  background-color:blue;
  margin:40px;
  left:50%;
  margin-left:-450px;
  padding-top:5px;
  border-radius: 5px;
}

#minnow, 
#swordfish {
  text-align:left;
  padding-left:100px;
  transition: 0s background-color;
  background-color: #FFCB68;
}

#minnow:hover,
#swordfish:hover,
#flounder:hover,
#greatwhite:hover {
  background-color:#7D7A6F;
  cursor:pointer;
}

#minnowpic {
  position:relative;
  bottom:110px;
  left:550px;
  height:83px;
  width:151px;
}

#flounderpic {
  position:relative;
  bottom:110px;
  right:550px;
  height:83px;
  width:151px;
}
#swordfishpic {
  position:relative;
  bottom:110px;
  left:470px;
  height:83px;
  width:251px;
}
#greatwhitepic {
  position:relative;
  bottom:110px;
  right:470px;
  height:83px;
  width:251px;
}

#minnowhover,
#swordfishhover,
#flounderhover,
#greatwhitehover {
  visibility:hidden;
  opacity:0.5;
  position:absolute;
  z-index:9;
  width:900px;
  height:130px;
  right:0px;
  bottom:0px;
}

#minnow:hover #minnowhover,
#swordfish:hover #swordfishhover,
#flounder:hover #flounderhover,
#greatwhite:hover #greatwhitehover {
    visibility:visible;
}

#flounder,
#greatwhite {
  text-align:right;
  padding-right:100px;
  background-color: #6890DE;
}

